@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: var(--one);

	--one: 80 70 230;
	--two: 50 115 145;
	--three: 225 145 35;
	--four: 225 30 70;
	--five: 255 100 10;
	--six: 65 165 40;
	--human: 125 60 235;

	--neutral-light: 9 9 11;
	--neutral-base: 82 82 82;
	--neutral-dark: 250 245 235;

	--vis-color: 82 82 82;

	--scroll-offset: 380px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--neutral-light: 250 250 250;
		--neutral-base: 140 140 140;
		--neutral-dark: 9 9 11;

		--vis-color: 250 250 250;

		--one: 120 120 255;
		--two: 90 205 190;
		--three: 240 180 55;
		--four: 235 110 145;
		--five: 245 140 65;
		--six: 100 220 145;
		--human: 185 135 255;
	}
}

::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #404040;
	border-radius: 20px;
	border: transparent;
}

@layer base {
	body {
		@apply bg-neutral-dark text-neutral-light font-sans selection:bg-accent overflow-hidden selection:text-neutral-dark;
	}

	h1 {
		@apply text-4xl xs:text-6xl sm:text-6xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold text-accent mb-7 font-sans leading-none overflow-visible hyphens-auto lg:hyphens-none;
	}

	h2,
	article h1 {
		@apply text-3xl xs:text-4xl font-bold mb-4 text-accent font-sans;
	}

	h3 {
		@apply text-xl font-bold leading-tight text-accent w-fit mt-7 mb-6 font-sans;
	}

	p {
		@apply hyphens-auto;
	}

	button {
		@apply font-condensed font-medium focus-state;
	}

	a {
		@apply focus-state;
	}

	details > summary {
		@apply list-outside list-decimal focus-state;
	}

	details summary::-webkit-details-marker {
		display: none;
	}

	dialog:modal {
		max-width: 100vw;
		max-height: 100%;
	}

	dialog[open] {
		@apply animate-fadeIn;
	}

	.content-section {
		p {
			@apply my-8 text-justify gap-6 leading-[1.5];
		}

		p + p {
			@apply -mt-2;
		}

		p + blockquote,
		p + ul,
		p + ol {
			@apply -mt-6;
		}

		blockquote + p,
		ul + p,
		ol + p {
			@apply mt-5;
		}

		blockquote {
			@apply mb-7 border-dots border-l-2 pl-6 font-serif columns-1 max-w-prose italic;

			p {
				@apply my-0 columns-1;
			}
			:nth-child(2) {
				@apply text-neutral-base font-sans text-sm mt-5 not-italic;
			}
		}

		ul,
		ol {
			@apply marker:text-neutral-base max-w-prose ml-8;
		}

		ul {
			@apply list-disc;
		}

		ol {
			@apply list-decimal;
		}

		li {
			@apply my-6 first:mt-0 hyphens-auto;
		}

		hr {
			@apply text-neutral-base opacity-20 my-9;
			+ * {
				@apply mt-0;
			}
		}

		h2 {
			@apply mb-7 mt-7 first-of-type:mt-0;
		}

		h3 {
			@apply mb-7 mt-4;
		}

		h2,
		h3 {
			+ * {
				@apply mt-0;
			}
		}
	}
}

@layer utilities {
	.border-dots {
		@apply border-neutral-base border-dotted;
	}

	.focus-state {
		@apply focus:ring-1 rounded-sm ring-accent ring-offset-[1.5px] ring-offset-neutral-dark !outline-none  scroll-mt-[var(--scroll-offset)] scroll-mb-8;
	}
}
